body {
    background: #ccd6e1;
    font-family: "Cabin Sketch", Arial, serif;
}

#game {
    width: 500px;
    margin: 0 auto;
}

#game h1 {
    text-align: center;
    margin-bottom: 5px;
    text-shadow: 0px 1px 0px #fff;
}

#drawing-pad {
    border: 10px solid #fffeff;
    background: #f1f3ef;
    box-shadow: 0px 3px 5px #333;
}

#chat-history {
    list-style: none;
    padding: 0;
}

#chat-history li {
    border-bottom: 1px dashed rgba(20, 20, 20, 0.2);
    margin: 10px 0;
}