a.box {
    display: block;
    width: 100px;
    height: 100px;
    background: #0000ff;
    border: 1px solid #000;
    -webkit-transition: all 0.5s linear;
    -webkit-transform: translate(100px, 50px);
}

a.box:hover {
    background: #f00;
    -webkit-transform: translate(100px, 50px) scale(1.1) rotate(30deg);
}
